<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ubah Jabatan</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem">
		<p th:text="${message}" style="color:#d4af37"></p>
		<h4>Ubah Jabatan</h4>
		<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
			<input type="hidden" th:field="*{id}" />
			<table>
				<tr style="height:3rem">
					<td style="width:10rem">Nama</td>
					<td></td>
					<td><input type="text" name="nama" maxlength="255" class="form-control" th:value="${jabatan.nama}"/></td>
				</tr>
				<tr style="height:3rem">
					<td>Deskripsi</td>
					<td></td>
					<td><input type="text" name="deskripsi" maxlength="255" class="form-control" th:value="${jabatan.deskripsi}"/></td>
				</tr>
				<tr style="height:3rem">
					<td>Gaji Pokok</td>
					<td>Rp</td>
					<td><input type="number" name="gaji_pokok" class="form-control" th:value="${jabatan.gaji_pokok}"/></td>
				</tr>
			
			</table>
			<br>
			<button type="submit" class="btn btn-warning">Simpan</button>
			<a th:href="@{|/jabatan/view?idJabatan=${jabatan.id}|}"><button type="button" class="btn btn-danger">Cancel</button></a>
		</form>
	</div>
</body>


</html>