<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem">
		<h4>Sistem Informasi Kepegawaian</h4>
		<p>Selamat datang di Sistem Informasi Kepegawaian</p>
	</div>
	<hr>
	<div style="margin-left:1rem" class="col-lg-4">
		<h4>Lihat Data Pegawai Berdasarkan NIP</h4>
		<p>Masukkan Nomor Induk Pegawai</p>
		<form th:action="@{/pegawai}" method="GET">
			<input type="text" name="nip" class="form-control" maxlength="255"/>
			<p></p>
			<button type="submit" class="btn btn-info">Lihat</button>
		</form>
	</div>
	<hr>
	<div style="margin-left:1rem" class="col-lg-4">
		<h4>Lihat Detail Jabatan</h4>
		<p>Pilih Jabatan</p>
		<form th:action="@{/jabatan/view}" method="GET">
			<select class="form-control" th:name="idJabatan">
				<option disabled="disabled" selected="selected">Nama Jabatan</option>
		    	<option th:each="jabatan : ${allJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
		    </select>
		    <p></p>
		    <button type="submit" class="btn btn-info">Lihat</button>
		</form>
	</div>
	<hr>
	<div style="margin-left:1rem" class="col-lg-4">
		<h4>Lihat Pegawai Termuda dan Tertua</h4>
		<p>Pilih Instansi</p>
		<form th:action="@{/pegawai/termuda-tertua}" method="GET">
			<select class="form-control" th:name="idInstansi">
				<option disabled="disabled" selected="selected">Nama Instansi</option>
		    	<option th:each="instansi : ${allInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}+ ' - '+${instansi.provinsi.nama}"></option>
		    </select>
		    <p></p>
		    <button type="submit" class="btn btn-info">Lihat</button>
		</form>
	</div>
</body>

</html>