<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lihat Jabatan</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem">
		<p th:text="${message}" style="color:#d4af37"></p>
		<h4 th:text="'Detail Jabatan '+ ${jabatan.nama}"></h4>
		<div class="row" style="margin-left:0rem;margin-top:1rem">
			<div class="column" style="margin-right:5rem">
				<p>Nama</p>
				<p>Deskripsi</p>
				<p>Gaji Pokok</p>
				<p>Jumlah Pegawai</p>
			</div>
			<div class="column">
				<p th:text="${jabatan.nama}"></p>
				<p th:text="${jabatan.deskripsi}"></p>
				<p th:text="'Rp'+${jabatan.gaji_pokok}"></p>
				<p th:text="${jumlahPegawai}"></p>				
			</div>
		</div>
		<table>
			<tr>
				<td>
					<form th:action="@{/jabatan/ubah}" method="GET">
						<input type="hidden" th:name="idJabatan" th:value="${jabatan.id}"/>
						<button type="submit" class="btn button btn-warning" style="margin-right:1rem;margin-top:0.5rem;">Ubah</button>
					</form>
				</td>
				<td>
					<form th:action="@{/jabatan/hapus/}" th:object="${jabatan}" method="POST">
						<input type="hidden" th:field="${jabatan.id}" />
						<button type="submit" class="btn button btn-danger" style="margin-right:1rem;margin-top:0.5rem;">Hapus</button>
		   			</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>